{% extends 'main/header.html' %}
{% block content %}
    <h2>Список домов</h2>
    <br>
    <a href="/admin/main/dom/add/">
        <button class="btn btn-primary">Новый Дом</button>
    </a>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Населенный пункт</th>
            <th>Улица</th>
            <th>Номер дома</th>
            <th>Индекс</th>
            <th>Корпус</th>
            <th>Примечание</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for dom in object_list %}
            <tr>
                <td><a href="{% url 'detail_dom' dom.id %}">{{ dom.id }}</a></td>
                <td><a href="{% url 'detail_NasPunkt' dom.nas_punkt_id %}">{{ dom.nas_punkt }}</a></td>
                <td><a href="{% url 'detail_streets' dom.street_id %}">{{ dom.street }}</a></td>
                <td>{{ dom.number }}</td>
                <td>{{ dom.index }}</td>
                <td>{{ dom.korp }}</td>
                <td>{{ dom.prim }}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default" onclick="location.href = '{% url 'detail_dom' dom.id %}'">Подробнее</button>
                    </div>
                </td>
            </tr>
        {%  endfor %}
    </tbody>
    </table>
{% endblock %}