{% extends 'main/header.html' %}
{% block content %}

    <div class="btn-group" style="margin-bottom: 20px ">
        <button class="btn btn-success" onclick="location.href = '/admin/main/dom/{{ dom.id }}/change/'">Редактировать</button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Дом: {{ dom.id }}</h3>
      </div>
      <div class="panel-body">
          <p><strong>Населенный пункт:</strong> {{ dom.nas_punkt }}</p>
          <p><strong>Улица:</strong> {{ dom.street }}</p>
          <p><strong>Номер дома:</strong> {{ dom.number }}</p>
          <p><strong>Индекс:</strong> {{ dom.index }}</p>
          <p><strong>Корпус:</strong> {{ dom.korp }}</p>
          <p><strong>Примечание:</strong> {{ dom.prim }}</p>
      </div>
    </div>

{% endblock %}