{% extends 'main/header.html' %}
{% block content %}
    <h2>Список льготников</h2>
    <br>
    <a href="/admin/main/lgoty/add/">
        <button class="btn btn-primary">Новый льготник</button>
    </a>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Физ. лицо</th>
            <th>Тип льготы</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lgot in object_list %}
            <tr>
                <td><a href="{% url 'detail_lgoty' lgot.id %}">{{ lgot.id }}</a></td>
                <td>{{ lgot.person }}</td>
                <td>{{ lgot.tip_lgoty }}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default" onclick="location.href = '{% url 'detail_lgoty' lgot.id %}'">Подробнее</button>
                    </div>
                </td>
            </tr>
        {%  endfor %}
    </tbody>
    </table>
{% endblock %}