{% extends 'main/header.html' %}
{% block content %}
    <div class="btn-group" style="margin-bottom: 20px ">
        <button class="btn btn-success" onclick="location.href = '/admin/main/kvartiry/{{ kvartiry.id }}/change/'">Редактировать</button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Квартира: {{ kvartiry.id }}</h3>
      </div>
      <div class="panel-body">
          <p><strong>Дом:</strong> {{ kvartiry.kod_dom }}</p>
          <p><strong>Номер квартиры:</strong> {{ kvartiry.number }}</p>
      </div>
    </div>

{% endblock %}