{% extends 'main/header.html' %}
{% block content %}
    <h2>Список лицевых счетов</h2>
    <br>
    <a href="/admin/main/lics/add/">
        <button class="btn btn-primary">Новый абонент</button>
    </a>
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Лиц. счет</th>
            <th>Дом</th>
            <th>Квартира</th>
            <th>Телефон</th>
            <th>Примечание</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for lic in object_list %}
            <tr>
                <td><a href="{% url 'detail_lics' lic.lics %}">{{ lic.lics }}</a></td>
                <td>{{ lic.kod_dom }}</td>
                <td>{{ lic.kod_kvart }}</td>
                <td>{{ lic.tel }}</td>
                <td>{{ lic.prim }}</td>
                <td>{{ lic.email }}</td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default" onclick="location.href = '{% url 'detail_lics' lic.lics %}'">Подробнее</button>
                    </div>
                </td>
            </tr>
        {%  endfor %}
    </tbody>
    </table>
{% endblock %}